doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body

    div#cabec(class="container")
        a(href='/catalog')
          img#logo(height = "300" src="https://i.imgur.com/kwAyutA.png")
    nav#naving(class='navbar navbar-default')
      div(class='container-fluid')
        div(class='navbar-header')
          a(class='navbar-brand' href='/catalog')

        ul(class='nav navbar-nav')
          li 
            a(href='/catalog/shirts') Shirts 
              i(span class='fa fa-tags')
          li 
            a(href='/catalog/clients') People 
              i(span class='fa fa-user-o')
          li 
            a(href='/catalog/shirtinstances') Status 
              i(span class='fa fa-check')
          li
            a(href='/catalog/client/create' ) Sign up 
              i(span class='fa fa-plus')
                  
    div(class='col-sm-10')
      block content
