extends layout

block content
  h1= title

  ul
  each shirtinstance in shirtinstance_list
    li 
      #{shirtinstance.shirt} : #{shirtinstance.status}

  else
    li There are no shirt copies in this store.