extends layout

block content
  h1= title

  ul
  each shirt in shirtinstance_list
    li 
      #{shirtinstance.shirt.name}
      #{shirtinstance.status}

  else
    li There are no shirt copies in this store.