#nav{
    margin-left: auto;
	margin-right: auto;
	display: block;
}

body {
    background-color: white;
}


#headericon{

	height: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

#cabec{

	background-color: black;
}